{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h3>Register</h3>
<form method="post" class="bg-white p-3 rounded">
  {% csrf_token %}
  <div class="mb-2"><input class="form-control" name="username" placeholder="Username"></div>
  <div class="mb-2"><input class="form-control" name="password" type="password" placeholder="Password"></div>
  <div class="mb-2"><input class="form-control" name="email" placeholder="Email"></div>
  <div class="mb-2"><input class="form-control" name="phone" placeholder="Phone"></div>
  <button class="btn btn-dark">Create account</button>
</form>
{% endblock %}
