{% extends "base.html" %}
{% block title %}Create Supplier{% endblock %}
{% block content %}
<h3>Create Supplier</h3>
<form method="post" class="bg-white p-3 rounded">
  {% csrf_token %}
  <div class="mb-2"><input class="form-control" name="name" placeholder="Name"></div>
  <div class="mb-2"><input class="form-control" name="email" placeholder="Email"></div>
  <div class="mb-2"><input class="form-control" name="phone" placeholder="Phone"></div>
  <div class="mb-2"><input class="form-control" name="taxCode" placeholder="Tax Code"></div>
  <button class="btn btn-primary">Save</button>
</form>
{% endblock %}
